@import "tailwindcss" source("../../src/");

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield !important;
    appearance: none;
  }
}

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #7c1c1c;
  --color-primary-content: oklch(98% 0 0);
  --color-secondary: #f6d860;
  --color-secondary-content: oklch(21% 0.006 285.885);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui" {
  themes: mytheme --default;
}

.formValidator {
  &:user-invalid,
  &:has(:user-invalid) {
    &,
    &:focus,
    &:checked,
    &[aria-checked="true"],
    &:focus-within {
      --input-color: var(--color-error);
    }
    & ~ .validator-hint {
      @apply text-error visible block;
    }
  }
  & ~ .validator-hint {
    @apply invisible;
  }
}

.table-reduce-padding {
  :where(th, td) {
    padding-inline: calc(0.25rem /* 4px */ * 2) /* 0.5rem = 8px */;
    padding-block: calc(0.25rem /* 4px */ * 1) /* 0.25rem = 4px */;
  }
}
